.container{
    margin-top: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: #625ac4;
    width: 800px;
    border-radius: 15px;
    margin-left: calc(50vw - 400px);
}
.quote{
    padding: 60px 110px;
    color: #fff;
    font-size: 32px;
    text-align: center;
}
.line{
    width: 680px;
    height: 1.5px;
    background: #fff;
    margin-bottom: 10px;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.author{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.icons{
    display: flex;
    gap: 40px;
}
.icons img{
    cursor: pointer;
}